<h1>Tu Compra (carro)</h1>

<%= link_to 'Empty You Cart', cart_clear_path %>

<ul>
	<% @cart.each do | id, quantity | %>
		<% product = Product.find_by_id(id) %>

	<li>
	<% end%>
		<%= link_to product.title, product%>
	</li>
	<% end %>
</ul>
